.product-search-item {
  padding: 0px;
  margin: 0px;
}
.product-search-item .item-inner {
  padding: 0px !important;
  margin: 0px !important;
}
.product-search-item .label {
  word-wrap: normal !important;
  white-space: normal !important;
}
