<ion-content padding>
  <ion-fab [hidden]="isNew" right top>
    <button ion-fab color="light" style="margin-top: 60px">
      <ion-icon name="arrow-dropdown"></ion-icon>
    </button>
    <ion-fab-list side="down" style="margin-top: 120px">
      <!--<button ion-fab>-->
        <!--<ion-icon name="alarm"></ion-icon>-->
      <!--</button>-->
      <button ion-fab (click)="onDelete()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

  <form>
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label stacked>Имя клиента</ion-label>
          <ion-input placeholder="Имя клиента" required [(ngModel)]="order.clientName"
                     #clientName="ngModel" type="text" name="clientName"></ion-input>
        </ion-item>
        <ion-item *ngIf="clientName.invalid && clientName.touched">
          <p class="text-warning">Имя клиента не заполнено</p>
        </ion-item>

        <ion-item>
          <ion-label stacked>Телефон</ion-label>
          <ion-input placeholder="Телефон" required [(ngModel)]="order.phone" #phone="ngModel" type="text" name="phone"></ion-input>
        </ion-item>
        <ion-item *ngIf="phone.invalid && phone.touched">
          <p class="text-warning">Телефон не заполнен</p>
        </ion-item>

        <ion-item>
          <ion-label stacked>Комментарий</ion-label>
          <ion-textarea placeholder="Комментарий" [(ngModel)]="order.comment" #comment="ngModel" name="comment"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Товары</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <button ion-item *ngFor="let p of order?.products ">
            <span>{{p.title}}</span>
          </button>
        </ion-list>
        <ion-buttons>
          <button full ion-button (click)="onAddNewProduct()" >Добавить товар</button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>

    <ion-grid>
      <ion-row>
        <ion-col>
          <button full ion-button type="submit" (click)="onSave(order)" >Сохранить</button>
        </ion-col>
        <ion-col [hidden]="isNew">
          <button full ion-button (click)="onCall()">Позвонить</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
